@import url(https://fonts.googleapis.com/css?family=Montserrat);

#titlePubblDash{
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
}

#titleGroupDash{
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
}