@import url(https://fonts.googleapis.com/css?family=Montserrat);

#titlePubblDash{
    text-align: left;
    font-size: 1.3em;
    padding-left: 16px;
}

#titleActivitiesDash{
    text-align: left;
    font-size: 1.3em;
    /* padding-left: 16px; */
}

#titleGroupDash{
    text-align: left;
    font-size: 1.3em;
    padding-left: 0px;
    margin-bottom: 4px;
    margin-top: 16px;
}

#titleResearchGroupDash{
    text-align: left;
    font-size: 1.3em;
    padding-left: 16px;
    margin-bottom: 4px;
    margin-top: 16px;
}

div.publicationContainer {
    margin-bottom: 16px;
}
div.groupContainer {
    margin: 0 16px 8px 16px;
}

div.item-container>div:first-child {
    border: 1px solid rgb(78, 78, 78);
    margin: 0px;
    margin-bottom: 8px;
    padding: 8px 0;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: aliceblue;
}

div.item-container>div:first-child div.item-image {
    text-align: right;
}

div.item-container {
    width: 100%;
}

img.groupImage {
    max-width: 100px;
    max-height: 100px;
}


