@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    background: #f5f5f5
}
#breadcrumb {
    border: 10px solid white;
}

#titlePubblDash{
    text-align: left;
    font-size: 1.3em;
    padding-left: 16px;
}

#titleActivitiesDash{
    text-align: left;
    font-size: 1.3em;
    /* padding-left: 16px; */
}

#titleGroupDash{
    text-align: left;
    font-size: 1.3em;
    padding-left: 0px;
    margin-bottom: 4px;
    margin-top: 16px;
}

#titleResearchGroupDash{
    text-align: left;
    font-size: 1.3em;
    padding-left: 16px;
    margin-bottom: 4px;
    margin-top: 16px;
}

div.publicationContainer {
    margin-bottom: 16px;
}
div.groupContainer {
    margin: 0 16px 8px 16px;
}

div.item-container>div:first-child {
    border: 1px solid rgb(78, 78, 78);
    margin: 0px;
    margin-bottom: 8px;
    padding: 8px 0;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: aliceblue;
}

div.item-container>div:first-child div.item-image {
    text-align: right;
}

div.item-container {
    width: 100%;
}

img.groupImage {
    max-width: 100px;
    max-height: 100px;
}


img.user-image {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

div.activity-image {
    display: inline;
}

div.my-rounded {
    border-radius: 8px;
}

button.myBtn {
    background: transparent;
    border: none;
    color: #737373;
    cursor: pointer;
}

button.myBtn:hover {
    text-decoration: underline;
}

div.comment-content {
    background-color: #f3f3f3;
}

div.activity-container {
    background: white;
}

@media (min-width: 768px) {
    .col-md-30 { 
        flex: 0 0 30%;
        max-width: 30%;
     }
    .col-md-70 { 
        flex: 0 0 70%;
        max-width: 70%;
     }
  }

