body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 2.8em;
}

.image {
  width: 100%;
  height: auto;
}


//animazione
.animationbox{
  -webkit-animation-name: animation;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

.animationbox2{
  -webkit-animation-name: animation;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

@-webkit-keyframes 'animation' {
  from {
    opacity: 0;
    -webkit-transform: scale(1.0);
  }
  20% {
    opacity: 0.2;
    -webkit-transform: scale(1.1);
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8; 
  }
  to {
    opacity: 1;
  }
}

// fine animazione

header.masthead {
  position: relative;
  background-color: red; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 10rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #001a33;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
}

h2.animated{
  animation-delay: 2s;
  animation-duration: 4s;
  animation-fill-mode: backwards;
}

h1.animated{
  animation-duration: 4s;
  animation-fill-mode: backwards;
}

section.cover {
  position: relative;
  background-color: #000000;
  background: url("/images/cover.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 12rem;
  margin-top: 0.5rem;

}


section.cover .overlay {
  position: absolute;
  background-color: #001a33;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}


section.img1 {
  position: relative;
  background-color: #000000;
  background: url("/images/collaborate.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 18rem;
  padding-bottom: 18rem;
  margin-top: 0.5rem;

}


section.img1 .overlay {
  position: absolute;
  background-color: #001a33;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

section.img2 {
  position: relative;
  background-color: #000000;
  background: url("/images/research.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 18rem;
  padding-bottom: 18rem;
  margin-top: 0.5rem;
}

section.img2 .overlay {
  position: absolute;
  background-color: #001a33;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}



section.img3 {
  position: relative;
  background-color: #000000;
  background: url("/images/manage.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 18rem;
  padding-bottom: 18rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

section.img3 .overlay {
  position: absolute;
  background-color: #001a33;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}


header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

a:hover {
  text-decoration: none;
}