/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    margin: 0;
    padding: 0;
}

html, body, .container-fluid {
    height: 100%;
}

body {
    font-family: montserrat, arial, verdana !important;
}

#logo {
    box-sizing: content-box;
    margin: 2rem auto;
    text-align: center;
}

.description {
    margin: 0 auto;
}

.img-div {
    margin: 1rem auto;
}

.img-logo {
    margin: 0 auto;
}

/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

.inner {
    margin: 0 auto;
}

#loginBox {
    padding: 3rem;
    margin: auto auto;
}

#msform fieldset {
    background: white;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input {
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid cornflowerblue;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

#msform input[type="submit"] {
  width: 100px;
  background: cornflowerblue;
  font-size: 0.9em;
  color: white;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
      margin-bottom: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#msform input[type="submit"]:hover {
  text-decoration: none;
  transition: 0.2s ease-in-out;
  background: #517AC2;
  color: white;
}


/*headings*/
.fs-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 2rem;
}
